{{ define "main" }}

<div class="index-text">
    <div class="personal-container flex-row">
        {{ if isset .Site.Params "personalimage" }}<img class="personal-image" src="{{ .Site.Params.PersonalImage }}" />{{ end }}
        <h1 class="title index-title">{{ .Site.Params.indexMessage }}</h1>
    </div>
    <h3 class="index-description">{{ .Site.Params.indexDecription }}</h3>
    <h3 class="index-description">{{ .Site.Params.indexAdditional }}</h3>
    <div class="socials">
        {{ range .Site.Params.Socials }}
        <a href="{{ .link }}" target="_blank"><i data-feather="{{ .icon }}" class="social-icon"></i></a>
        {{ end }}
    </div>
</div>

<h4 class="recent-posts-title">Recent posts</h4>

<div class="index-posts">
{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
{{ partial "post-item.html" . }}
{{end}}
</div>

{{ end }}